# Compiled object files
*.o

# Executables
*.exe
*.out

# Libraries
*.a
*.lib

# IDE files
.vscode/
.idea/

mp1/src/lexer
mp1/src/parser
mp2_handout/src/cgen-1
mp2_handout/src/cgen-2

llvm-project-15.0.0.src/
!llvm15/mlir/
!llvm15/mlir/examples/
!llvm15/mlir/examples/toy/
!llvm15/mlir/examples/toy/Ch7/
!llvm15/mlir/examples/toy/Ch7/**
